server:
  port: 8081

spring:
  application:
    name: resource-service
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost:5432}/resources
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    password: guest
    port: 15672
    username: guest
    exchange: resource.exchange
    queue: resource.queue
    routing-key: resource.routingkey

spring.jpa:
  database: POSTGRESQL
  hibernate.ddl-auto: update
  show-sql: true

s3:
  service-endpoint: http://${S3_HOST:localhost}:${S3_PORT:9444}/s3
  access-key-id: AKIAIOSFODNN7EXAMPLE
  key-secret: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
  bucket-name: ${BUCKET_NAME:test}

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_ZONE:http://localhost:8761/eureka/}
  instance:
    appname: resource-service
    preferIpAddress: true